// {{{request.name}}} ({{{request.method}}} {{{url.base}}})

NSURL* URL = [NSURL URLWithString:@"{{{url.base}}}"];
{{#url.has_params}}
NSDictionary* URLParams = @{
{{#url.params}}
    @"{{{name}}}": @"{{{value}}}",
{{/url.params}}
};
URL = NSURLByAppendingQueryParameters(URL, URLParams);
{{/url.has_params}}
NSMutableURLRequest* request = [NSMutableURLRequest requestWithURL:URL];
request.HTTPMethod = @"{{{request.method}}}";

{{#headers.has_headers}}
// Headers

{{#headers.header_list}}
[request addValue:@"{{{header_name}}}" forHTTPHeaderField:@"{{{header_value}}}"];
{{/headers.header_list}}

{{/headers.has_headers}}
{{#body.has_url_encoded_body}}
// Form URL-Encoded Body

NSDictionary* bodyParameters = @{
{{#body.url_encoded_body}}
	@"{{{name}}}": @"{{{value}}}",
{{/body.url_encoded_body}}
};
request.HTTPBody = [NSStringFromQueryParameters(bodyParameters) dataUsingEncoding:NSUTF8StringEncoding];

{{/body.has_url_encoded_body}}
{{#body.has_json_body}}
// JSON Body

{{{body.json_body_object}}}
request.HTTPBody = [NSJSONSerialization dataWithJSONObject:bodyObject options:kNilOptions error:NULL];

{{/body.has_json_body}}
{{#body.has_raw_body}}
// Body

request.HTTPBody = [@"{{{body.raw_body}}}" dataUsingEncoding:NSUTF8StringEncoding];

{{/body.has_raw_body}}
{{#body.has_long_body}}
// Body

request.HTTPBody = nil; // Set your own body data

{{/body.has_long_body}}
// Connection

NSURLConnection* connection = [NSURLConnection connectionWithRequest:request delegate:nil];
[connection start];

{{#has_utils_query_string}}
/*
 * Utils: Add this section before your class implementation
 */

/**
 This creates a new query parameters string from the given NSDictionary. For
 example, if the input is @{@"day":@"Tuesday", @"month":@"January"}, the output
 string will be @"day=Tuesday&month=January".
 @param queryParameters The input dictionary.
 @return The created parameters string.
*/
static NSString* NSStringFromQueryParameters(NSDictionary* queryParameters)
{
    NSMutableArray* parts = [NSMutableArray array];
    [queryParameters enumerateKeysAndObjectsUsingBlock:^(id key, id value, BOOL *stop) {
        NSString *part = [NSString stringWithFormat: @"%@=%@",
            [key stringByAddingPercentEscapesUsingEncoding: NSUTF8StringEncoding],
            [value stringByAddingPercentEscapesUsingEncoding: NSUTF8StringEncoding]
        ];
        [parts addObject:part];
    }];
    return [parts componentsJoinedByString: @"&"];
}

/**
 Creates a new URL by adding the given query parameters.
 @param URL The input URL.
 @param queryParameters The query parameter dictionary to add.
 @return A new NSURL.
*/
static NSURL* NSURLByAppendingQueryParameters(NSURL* URL, NSDictionary* queryParameters)
{
    NSString* URLString = [NSString stringWithFormat:@"%@?%@",
        [URL absoluteString],
        NSStringFromQueryParameters(queryParameters),
    ];
    return [NSURL URLWithString:URLString];
}
{{/has_utils_query_string}}
